{% extends "skeleton.html" %}

{% block header%}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
<!--     <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <font color="#F16822">ONE</font><span class="light"><font color="#21A54A">RISHI</font></span>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#highlights">Highlights</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#venue">Tickets</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <!-- Intro Header -->
    <header style="height: 100%;" class="intro">
        <div style="background-color: black" class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><font color="#F16822">ONE</font><font color="#21A54A">RISHI</font><font color="#A7A9AC"> 2017</font></h1>
                        <p class="intro-text">Coming Soon.</p>
<!--                         <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
    <!-- About Section -->
<!--     <section id="about" class="bg-rishi container content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:black">TWO Days of Inspiration</h2>
                    <h4 class="text-muted"><font color="#282A74">January 8-10 2016</font></h4><br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img width="125" height="125" src="http://publicdomainvectors.org/photos/learn-icon.png"/>
                        <h4 class="service-heading"><br>LEARN</h4>
                        <p><font color="#282A74"><strong>LEARN</strong> the vision.</font></p>
                </div>
                <div class="col-md-4">
                    <img width="125" height="125" src="http://www.downloadclipart.net/medium/21768-check-mark-13x13-clip-art.png"/>
                    <h4 class="service-heading"><br>COMMIT</h4>                            
                    <p><font color="#282A74"><strong>COMMIT</strong> to the vision.</font></p>
                </div>
                <div class="col-md-4">
                    <img width="125" height="125" src="http://cdn.flaticon.com/png/256/3638.png"/>
                    <h4 class="service-heading"><br>NETWORK</h4>
                    <p><font color="#282A74"><strong>NETWORK</strong> with the community.</font></p>
                </div>
            </div>
        </div>
    </section> -->

    <!-- Speaker Section -->
<!--     <section id="speakers" class="con-section text-center">
        <div class="speaker-section">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 style="color:white">Speakers</h2>
                            <br>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-3">
                            <img width="200" height="200" src="http://placehold.it/200x200"/>
                            <h4 class="service-heading"><br>Speaker 1</h4>
                            <p>Founder of Swag Nation</p>
                        </div>
                        <div class="col-lg-3">
                            <img width="200" height="200" src="http://placehold.it/200x200"/>
                            <h4 class="service-heading"><br>Speaker 1</h4>
                            <p>Founder of Swag Nation</p>
                        </div>
                        <div class="col-lg-3">
                            <img width="200" height="200" src="http://placehold.it/200x200"/>
                            <h4 class="service-heading"><br>Speaker 1</h4>
                            <p>Founder of Swag Nation</p>
                        </div>
                        <div class="col-lg-3">
                            <img width="200" height="200" src="http://placehold.it/200x200"/>
                            <h4 class="service-heading"><br>Speaker 1</h4>
                            <p>Founder of Swag Nation</p>
                        </div>
                    </div>
            </div>
        </div>
    </section> -->

    <!-- Conference Highlights -->
<!--     <section id="highlights" class="con-section text-center">
        <div class="speaker-section">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 style="color:white">Conference Highlights</h2>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-3">
                            <i class="fa fa-users fa-10x"></i> 
                            <h4 class="service-heading"><br>Speakers</h4>
                            
                        </div>
                        <div class="col-lg-3">
                            <i class="fa fa-comment-o fa-10x"></i> 
                            <h4 class="service-heading"><br>Small Group Workshops</h4>
                            
                        </div>
                        <div class="col-lg-3">
                            <i class="fa fa-briefcase fa-10x"></i> 
                            <h4 class="service-heading"><br>Case Competition</h4>
                            
                        </div>
                        <div class="col-lg-3">
                            <i class="fa fa-lightbulb-o fa-10x"></i> 
                            <h4 class="service-heading"><br>Collaborative Brainstorming</h4>
                            
                        </div>
                    </div>
            </div>
        </div>
    </section> -->

    <!-- Schedule Section -->
<!--     <section id="schedule" class="bg-rishi container content-section text-center">
        <div class="row text-center">
            <h2>MAIN SCHEDULE</h2><br>
            <div class="container">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="#day1" data-toggle="tab"><h4>Day 1</h4></a></li>
                    <li><a href="#day2" data-toggle="tab"><h4>Day 2</h4></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="day1">
                        <div class="container">
                            <div class="row">
                                <br><br>
                                <div class="col-lg-6 text-center">
                                    <img width="125" height="125" src="http://publicdomainvectors.org/photos/learn-icon.png"/>
                                    <h2 style="color:black">LEARN</h2>
                                    <br><br>
                                    <img width="125" height="125" src="http://www.downloadclipart.net/medium/21768-check-mark-13x13-clip-art.png"/>
                                    <h2 style="color:black">COMMIT</h2><br>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <h2 style="color:black">Schedule</h2>
                                    <p align="left">TBA <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="day2">
                        <div class="container">
                            <div class="row">
                                <br><br>
                                <div class="col-lg-6 text-center">
                                    <img width="125" height="125" src="http://publicdomainvectors.org/photos/learn-icon.png"/>
                                    <h2 style="color:black">LEARN</h2>
                                    <br><br>
                                    <img width="125" height="125" src="http://www.downloadclipart.net/medium/21768-check-mark-13x13-clip-art.png"/>
                                    <h2 style="color:black">COMMIT</h2><br>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <h2 style="color:black">Schedule</h2>
                                    <p align="left">TBA <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

<!--     <section id="venue" class="content-section text-center">
        <div class="download-section">
            <div class="container">              
                <div class="col-lg-12">
                    <h4>BUY TICKETS for the Annual Project RISHI Leadership Conference.</h4>
                    <p>VENUE: UC San Diego - La Jolla, CA  </p>
                    <a href="{{ url_for('tickets') }}" class="btn btn-default btn-lg">Buy Tickets</a>
                </div>
            </div>
        </div>
    </section> -->
{% endblock %}
