{% extends "skeleton.html" %}

{% block header%}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <font color="#F16822">ONE</font><span class="light"><font color="#21A54A">RISHI</font></span>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#highlights">Highlights</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#venue">Tickets</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Intro Header -->
    <header style="height: 100%;" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><font color="#F16822">ONE</font><font color="#21A54A">RISHI</font><font color="#A7A9AC"> 2017</font></h1>
                        <p class="intro-text">Transforming Members into Changemakers.</p>
<!--                         <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block section %}
    <!-- About Section -->
    <section id="about" class="bg-rishi container content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:black">TWO Days of Inspiration</h2>
                    <h4 class="text-muted"><font color="#282A74">March 31-April 2 2017</font></h4><br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="fa fa-book fa-10x"></i>
                    <h4 class="service-heading"><br>LEARN</h4>
                    <p><font color="#282A74"><strong>LEARN</strong> the vision.</font></p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-check fa-10x"></i>
                    <h4 class="service-heading"><br>COMMIT</h4>                            
                    <p><font color="#282A74"><strong>COMMIT</strong> to our approach.</font></p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-globe fa-10x"></i>
                    <h4 class="service-heading"><br>NETWORK</h4>
                    <p><font color="#282A74"><strong>NETWORK</strong> with the community.</font></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Speaker Section -->
<!--     <section id="speakers" class="con-section text-center">
        <div class="speaker-section">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 style="color:white">Speakers</h2>
                            <br>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-3">
                            <img width="200" height="200" src="http://placehold.it/200x200"/>
                            <h4 class="service-heading"><br>Speaker 1</h4>
                            <p>Founder of Swag Nation</p>
                        </div>
                        <div class="col-lg-3">
                            <img width="200" height="200" src="http://placehold.it/200x200"/>
                            <h4 class="service-heading"><br>Speaker 1</h4>
                            <p>Founder of Swag Nation</p>
                        </div>
                        <div class="col-lg-3">
                            <img width="200" height="200" src="http://placehold.it/200x200"/>
                            <h4 class="service-heading"><br>Speaker 1</h4>
                            <p>Founder of Swag Nation</p>
                        </div>
                        <div class="col-lg-3">
                            <img width="200" height="200" src="http://placehold.it/200x200"/>
                            <h4 class="service-heading"><br>Speaker 1</h4>
                            <p>Founder of Swag Nation</p>
                        </div>
                    </div>
            </div>
        </div>
    </section> -->

    <!-- Conference Highlights -->
    <section id="highlights" class="con-section text-center">
        <div class="speaker-section">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 style="color:white">Conference Highlights</h2>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-3">
                            <i class="fa fa-users fa-10x"></i> 
                            <h4 class="service-heading"><br>Speakers</h4>
                            
                        </div>
                        <div class="col-lg-3">
                            <i class="fa fa-comment-o fa-10x"></i> 
                            <h4 class="service-heading"><br>Small Group Workshops</h4>
                            
                        </div>
                        <div class="col-lg-3">
                            <i class="fa fa-briefcase fa-10x"></i> 
                            <h4 class="service-heading"><br>Case Competition</h4>
                            
                        </div>
                        <div class="col-lg-3">
                            <i class="fa fa-lightbulb-o fa-10x"></i> 
                            <h4 class="service-heading"><br>Collaborative Brainstorming</h4>
                            
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <!-- Schedule Section -->
    <section id="schedule" class="bg-rishi container content-section text-center">
        <div class="row text-center">
            <h2>MAIN SCHEDULE</h2><br>
            <div class="container">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a href="#day1" data-toggle="tab"><h4>Friday</h4></a></li>
                    <li><a href="#day2" data-toggle="tab"><h4>Saturday</h4></a></li>
                    <li><a href="#day3" data-toggle="tab"><h4>Sunday</h4></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="day1">
                        <div class="container">
                            <div class="row">
                                <br><br>
                                <div class="col-lg-6 text-center">
                                    <p align="middle">Venue: Ballroom B, Activities Recreation Center <br>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6241.4574244941805!2d-121.7607054735281!3d38.540021318509375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80852900aef53735%3A0x8fd7da59621c13d2!2sUC+Davis+Activities+and+Recreation+Center!5e0!3m2!1sen!2sus!4v1487627460420" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <h2 style="color:black">Schedule</h2>
                                    <p align="left">8:00pm - 11:45pm - Welcome and Check-In <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="day2">
                        <div class="container">
                            <div class="row">
                                <br><br>
                                <div class="col-lg-6 text-center">
                                    <p align="middle">Venue: Geidt Hall<br>
                                    Parking: Parking Lot 40 <br>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3120.8328752425127!2d-121.7575222852582!3d38.53762047567668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80852905a3226355%3A0xc8457aea56e375f0!2sWarren+and+Leta+Giedt+Hall!5e0!3m2!1sen!2sus!4v1487627925514" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <h2 style="color:black">Schedule</h2>
                                    <p align="left">9:00am - 9:30am: Check-In Breakfast <br>
                                    9:30am - 12:00pm: AM Presentation / Activity <br>
                                    12:00pm - 1pm: Lunch <br>
                                    1:00pm - 1:50pm: Workshop 1 <br>
                                    2:00pm - 2:50pm: Workshop 2 <br>
                                    2:50pm - 3:20pm: Break <br>
                                    3:30pm - 4:20pm: Workshop 3 <br>
                                    4:30pm - 5:20pm: Workshop 4 <br>
                                    5:20pm - 6:00pm: Dinner and Panel <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="day3">
                        <div class="container">
                            <div class="row">
                                <br><br>
                                <div class="col-lg-6 text-center">
                                    <p align="middle">Venue: Geidt Hall<br>
                                    Parking: Parking Lot 40 <br>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3120.8328752425127!2d-121.7575222852582!3d38.53762047567668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80852905a3226355%3A0xc8457aea56e375f0!2sWarren+and+Leta+Giedt+Hall!5e0!3m2!1sen!2sus!4v1487627925514" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <h2 style="color:black">Schedule</h2>
                                    <p align="left">10:00am - 12:00pm: Debrief / Closing <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="venue" class="content-section text-center">
        <div class="download-section">
            <div class="container">              
                <div class="col-lg-12">
                    <h4>BUY TICKETS for the Annual Project RISHI Leadership Conference.</h4>
                    <p>VENUE: UC Davis - Davis, CA  </p>
                    <a href="{{ url_for('tickets') }}" class="btn btn-default btn-lg">Buy Tickets</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
